<div form class="{{cssClass}}" autocomplete="off">
    <div class="itemcollection">
        <ol class="currency">
            {{#each flags.itemcollection.currency as |c i|}}
            <li class=" denomination {{i}}">
                <label>{{c.label}}:</label>
                <input type="text" name="flags.itemcollection.currency.{{i}}.value" value="{{c.value}}"
                    data-dtype="{{c.type}}" />
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="itemcollection">
        <ol class="inventory-list directory-list">
            <li class="item flexrow inventory-header">
                <h3 class="item-name flexrow">Items</h3>
                <span class="item-quantity">Qty.</span>
                <span class="item-weight">Wt.</span>
                <div class="item-controls">
                    {{#if isOwned}}
                        <a class="item-control item-export-all" title="Export All Items" data-type="{{sid}}"><i
                                class="fas fa-minus"></i> All</a>
                    {{/if}}
                </div>
            </li>
            {{#each flags.itemcollection.contents as |item iid|}}
            <li class="item flexrow" data-item-id="{{item.id}}">
                <div class="item-name flexrow">
                    {{#if item.data.level}} {{item.data.level.value}} {{/if}}
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <h4>{{item.name}}</h4>
                </div>
                <span class="item-quantity">{{item.data.quantity.value}}</span>
                <span class="item-weight">{{item.totalWeight}}</span>
                <div class="item-controls">
                    {{#if item.flags.itemcollection}}
                    <a class="item-control item-export" title="Import Item"><i class="fas fa-asterisk"></i></a>
                    {{else}}
                    {{#if ../isOwned}}
                        <a class="item-control item-export" title="Import Item"><i class="fas fa-minus"></i></a>
                    {{/if}}
                    <a class="item-control item-split" title="Split Tiem"><i class="fas fa-columns"></i></a>
                    {{#if ../canConvertToGold}} <a class="item-control item-convertToGold" title="Convert To Gold"><i
                            class="fas fa-dollar-sign"></i></a> {{/if}}
                    {{/if}}
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</div>